body {
   
    background-color: whitesmoke;
    line-height: 2; 
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}


.login-container {
    display: flex;
    height: 100vh;
    position: relative;
    margin-top: -5px;
}

.left-section {
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-image: url(./images/elite-prop-hmlP-v0vJ5o-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-weight: 400;
}

.brand-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0b0b0b;
    font-size: 1.2em;
}

.brand-logo img {
    border-radius: 100%;
    height: 7%;
    width: 5%;
}

.tag-line {
  position:fixed;
  bottom: 120px;
  left: 70px;
  color: white;
}

.tag-line h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.tag-line p {
  font-size: 1rem;
  margin: 0;
}

.tag-line p:nth-of-type(2) {
    margin-top: -10px;
}

.carousel-indicators {
  display: flex;
  gap: 6px;
  align-items: center;
  position: fixed;
 bottom: 90px;
  left: 70px;
}

.carousel-indicators span {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #bbb;
  border-radius: 50%;
}

.carousel-indicators span.active {
  width: 30px;
  height: 6px;
  background-color: white;
  border-radius: 3px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.content-wrap {
    position: absolute;
    left: 25%;
    width: 350px;
    transform: scale(0.95); 
   
}

.sign-in {
    position: absolute;
    top: 25px;
    right: 120px;
    padding: 8px 20px;
    border: none;
    border-radius: 100px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

.right-section h2:first-of-type {
    font-size: 1.6rem;
    margin-top: 90px;
    margin-bottom: 0px;
}

.right-section p:first-of-type {
    font-size: 0.7rem;
    color: gray;
    margin-top: 0;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    margin: 15px 0px 0px;
    font-size: 0.85em;
}

.password-div {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.password-label {
    color: #777;
}

input {
    padding: 12px;
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 0.85rem;
}

.text-box:focus {
  border: 2px solid rgba(0, 0, 0, 0.5);
  outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 10,
  'GRAD' 0,
  'opsz' 20;
  transform: scale(0.6); 
  display: inline-block;
  color: grey;
}

.toggle-btn {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    top: 48px;
    right: 20px;
}

.text-box {
    width: 300px;
    height: 20px;
    padding: 8px 16px;
}

.checkbox-wrap{
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.85em;
}

.checkbox a {
    margin-left: 130px;
    color: gray;
}

.login-btn {
    background: #0b0b0b;
    color: white;
    padding: 12px;
    width: 330px;
    border: none;
    border-radius: 6px;
    margin-left: 5px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 350px;
  margin: 20px 0;
  font-size: 0.6em;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}

.divider:not(:empty)::after {
  margin-left: 0.75em;
}

.socials-btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}



.google-btn, .fb-btn {
  display: flex;
  align-items: center; 
  justify-content: center;            
  border-radius: 6px;
  font-size: 0.7em;
  background: white;
  border: 1px solid #CCC;
  cursor: pointer;
  flex: 1;                
  max-width: 170px;      
  white-space: nowrap;
}

.google-logo{
  height: auto;
  width: 20%;
}

.fb-logo {
    padding: 0px 5px 2px 0px;
    height: auto;
    width: 12%;
}

.google-btn{
    padding: 2px 8px 2px 0px;
}

.fb-btn{
    padding: 2px 5px 2px 0px;
    

}

.register-link {
    position: relative;
    margin-top: 30px;
    font-size: 0.85em;
    margin-left: 50px;
}

